# -------- S3 Creds (this should work with any S3)
#    - List of all the buckets we are going to talk too
s3:
- bucket-name: fortuna-stock-data-new
  endpoint: sfo2.digitaloceanspaces.com
  access-key-id: "TODO"
  secret-access-key: "TODO"
