# -------- S3 Creds (this should work with any S3)
#    - List of all the buckets the S3 CLI is going to talk too
s3:
- bucket-name:           # Example: dates-bucket
  endpoint:              # Example: sfo2.digitaloceanspaces.com
  access-key-id:
  secret-access-key:
